

body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: black;
}

html {
    width: 100%;
    height: 100%;
}
.name{
     font-family: 'Homemade Apple', cursive;
    letter-spacing: 3px;
    font-weight: 700;
     margin: 0 0 35px;
    text-transform: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;

   text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
.pad-top{
    padding-top: 10px;
}
p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #36c9ae;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #258d7a;
}

.light {
    font-weight: 400;
     color: #258d7a;
}
.bold{
    font-size: 25px;
    color: #258d7a;
}
.fa-heart{
    color:#36c9ae;
}
#divname{
     margin-top:5%;
}
#name{
   
    
    border-width: 5px;
    border-color: white;
    border-style: solid;
    height:150px;
    width: 75%;
 
    vertical-align: middle;
}
#textname{
   
    font-size:40px;
    letter-spacing: 8px;
    position: relative;
    top:40px;
}
 @media (max-width: 500px) {
     #name{
          width: 95%;
     }
        #textname{
            top:10px;
   
    font-size:30px;
    
}
     #heart{
         display:block; 
     }
     .icon{
         font-size:40px !important;
     }
    }
.icon{
    font-size: 80px;
   
}
#icons1{
     display: none;
}
#icons2{
     display: none;
}
#icons3{
     display: none;
}
#icons4{
     display: none;
}
#downbutton{
     display: none;
    font-size: 80px;
}
.left{
    float: left;
}
.pad-little{
    padding-bottom: 10px;
}
#heightpar{
    height:80px;
    margin-bottom: 45px;
     margin-top: 20px;
}
.thumbnail{
    
   
    border-radius: 5px;
    
    
}
.full-width {
    display:block;
}
.label-info{
    background-color:#258d7a;
}
.well{
 border-color:white;
    border-width: 5px;
  color:white;
    background-color: black;
    border-radius: 5px;
}
.thumbnail .caption{
    color: white;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}
.cap{
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 30px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
     font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    
    
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 60px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle {
    width: 80px;
    height: 80px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 50px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}




@media(min-width:767px) {
    .content-section {
        padding-top: 150px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}
.pad-right{
    margin-right: 30px;
    margin-bottom: 30px;
}
.center-text{
    font-size: 15px;
    line-height: 220%;
    text-align: left;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}


.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

progress-bar {
    line-height: 27px;
}
.progress {
    position: relative;
    height: 25px;
}
 .img-responsive {
    margin: 0 auto;
}
.progress > .progress-type {
    position: absolute;
    left: 0px;
    font-weight: 800;
    padding: 3px 30px 2px 10px;
    background-color: rgba(10, 10, 10, 0.1);
    color: rgb(255, 255, 255);
}
.stacked-label {
    font-weight: 600;
    color: #FFFFFF;
}
.progress > .progress-completed {
    position: absolute;
    right: 0px;
    font-weight: 100;
    padding: 2px 2px 2px;
}
.btn-default {
    border: 1px solid #258d7a;
    color: white;
    background-color: #258d7a;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #258d7a;
    outline: 0;
    color: #258d7a;
    background-color: transparent;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}




.shadow{
   box-shadow: 0 0 0.9em 0.4em #7e8181;
}
 .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

.portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

.portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}
 .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

.portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
 .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}
.portfolio-item .portfolio-link .caption .caption-content h3,
 .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}


@media(min-width:767px) {
    .portfolio-item {
        margin: 0 0 30px;
    }
}
