#header{
	position: :relative;
	height: 500px;
	background-image: url("back.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;


}


.moving-header{
	height: 100px;
	width: 100%;

	position: absolute;
	
	z-index: 1;


}



#bottom{
	position:relative;
	z-index: 2;
	background-image: url("white.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;


}

#portfolio{
	position:relative;
	z-index: 3;
	background-image: url("black.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;

}
#resume{
	position:relative;
	z-index: 4;
	background-image: url("white.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}
#footer{
	position:relative;
	z-index: 5;
	background-image: url("black.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}


.pad{
	padding-top: 50px;
}


.img-circle {
    border-radius: 50%;
}

.center{
	text-align: center;
	padding: center;
}

.center-text{
	text-align: center;
	padding-right: 100px;
	padding-left: 100px;


}
#title-font{
	font-size: 500%;
	color: black;
	font-family: 'Cherry Swash', cursive;
	letter-spacing: 10px;

}