

.div-top{
    height:auto;
    min-height:100%;
    width:100%;    
    position:fixed;
    top:0;
    left:0;
    z-index:500;
    background-image: url("back.jpg");
   
}


.div-bottom {
    width:100%;    
    background-color: black;
    margin-top:100%;
    z-index:600;
    position:relative;
}
